<mat-toolbar >
  <!-- <span class="logo_open">OPEN</span>&nbsp;<span class="logo_storm">STORM</span> -->
   <img src="assets/img/QUASAR_INV.png" alt="QUASAR Logo" class="logo" style="height: 60px; margin-right: 8px;">

  <div class="custom-nav-list">
      <a class="nav-item" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon fontIcon="leaderboard"></mat-icon>
        <span>Dashboard</span>
      </a>
      @if (selectedProject){
        <a class="nav-item" routerLink="/variables" routerLinkActive="active">
          <mat-icon fontIcon="settings"></mat-icon>
          <span>Variáveis</span>
        </a>
        <a class="nav-item" routerLink="/jobs" routerLinkActive="active">
          <mat-icon fontIcon="dns"></mat-icon>
          <span>Jobs</span>
        </a>      
        <a class="nav-item" routerLink="/history" routerLinkActive="active">
          <mat-icon fontIcon="list_alt"></mat-icon>
          <span>Histórico</span>
        </a>
        <a class="nav-item" routerLink="/errors" routerLinkActive="active">
          <mat-icon fontIcon="bug_report"></mat-icon>
          <span>Erros</span>
        </a>
      }
      
    </div>

  <div class="projects">    

    <mat-form-field appearance="outline" subscriptSizing="dynamic" class="project-select">
      <mat-select [(value)]="selectedProject" (selectionChange)="onSelectChange($event)" placeholder="Projects" panelClass="project-select-panel">
        <mat-option value="" ></mat-option>
        <mat-option *ngFor="let project of projects" [value]="project">
          {{ project.projectName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button matIconButton class="button" (click)="openEditDialog(null)" [matTooltip]="'Adicionar novo projeto'">
      <mat-icon>add_circle_outline</mat-icon>
    </button>

    @if (selectedProject) {
    <button matIconButton class="button" (click)="openEditDialog(selectedProject)" [matTooltip]="'Editar projeto'">
      <mat-icon>settings_outline</mat-icon>
    </button>

    <button matIconButton class="button delete" (click)="removeProject(selectedProject)" [matTooltip]="'Remover projeto'">
      <mat-icon>delete_outline</mat-icon>
    </button>
    }

    

  </div>

  <!-- Spacer para empurrar o botão para a direita -->
  <div class="spacer"></div>

  <!-- Botão de toggle de tema -->
  <button 
    matIconButton 
    class="theme-toggle" 
    (click)="toggleTheme()" 
    [matTooltip]="themeService.isDark() ? 'Modo Claro' : 'Modo Escuro'"
  >
    <mat-icon>{{ themeService.isDark() ? 'light_mode' : 'dark_mode' }}</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">


  <mat-sidenav-content style="padding: 16px;">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>







