@use '@angular/material' as mat;

@include mat.core();

:root {
  --mdc-theme-primary: #7e57c2;  /* Violeta (um tom parecido com mat.$violet-palette) */
  --mdc-theme-primary-variant: #5e35b1; /* variante escura */
  
  --mdc-theme-secondary: #ff4081; /* rosa para o accent */
  
  --mdc-theme-error: #f44336; /* vermelho warn */
}

html {
  color-scheme: dark;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #121212;
  color: #c9e0f8 !important;
  --mat-dialog-container-color: white;
  --mat-dialog-subhead-color: rgba(255, 255, 255, 0.87);
  --mat-dialog-supporting-text-color: rgba(255, 255, 255, 0.6);
}

button.mat-icon-button, button.mat-button {
  color: white !important;
}

mat-icon svg {
  fill: white !important;
}

*{
  font-weight: lighter;
  color: #c9e0f8;
  --mat-form-field-outlined-error-outline-color: #ff0000; // vermelho
}

html, body { height: 100%;  background-color: transparent !important;}
body { 
  background-color: transparent !important;
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-image: linear-gradient(to left bottom, #010912, #030f1a, #051422, #05182b, #031b33, #031b33, #031b34, #031b34, #04182c, #051424, #04101c, #010a14);
}

h2{
  margin: 20px 0px;
}

mat-toolbar, mat-sidenav-container, mat-sidenav, mat-nav-list, mat-list-item, mat-card, mat-card-header, mat-card-title, mat-card-content, mat-card-actions, mat-form-field {
    background-color: transparent !important;
}

.mat-form-field-underline {
  display: none !important;
  height: 0 !important;
  border: none !important;
}

.mdc-list-item:focus::before {
  background-color: transparent !important;
}


.mat-mdc-dialog-surface.mdc-dialog__surface {
  background-color: transparent !important;
  background-image: linear-gradient(to left bottom, #010912, #030f1a, #051422, #05182b, #031b33, #031b33, #031b34, #031b34, #04182c, #051424, #04101c, #010a14);
}

mat-dialog-content.mat-mdc-dialog-content.mdc-dialog__content{
  max-height: 90vh !important;
}

button.mdc-button.mat-mdc-button-base.mdc-button--unelevated.mat-mdc-unelevated-button.mat-secundary {
  background-color: rgba($color: #000000, $alpha: 0.4);
}


.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--invalid .mat-mdc-notch-piece {
    border-color: #ff0000;
}

ngx-monaco-editor {
  flex: 1 1 auto;
  height: 100% !important;
}

div.mat-mdc-select-panel{
  background-color: #1d3248 !important;
  color: #fff !important;
}

.mdc-list-item__primary-text{
  color: #fff !important;
}

.mdc-notched-outline__leading,
.mdc-notched-outline__notch,
.mdc-notched-outline__trailing {
  border-color: white !important;
}

.mdc-text-field--invalid .mdc-notched-outline__leading,
.mdc-text-field--invalid .mdc-notched-outline__notch,
.mdc-text-field--invalid .mdc-notched-outline__trailing {
  border-color: rgb(255, 0, 0) !important;
}


/* Para o estado focado */
.mdc-text-field--focused .mdc-notched-outline__leading,
.mdc-text-field--focused .mdc-notched-outline__notch,
.mdc-text-field--focused .mdc-notched-outline__trailing {
  border-color: white !important;
}

/* Para o estado hover */
.mdc-text-field:not(.mdc-text-field--disabled):hover .mdc-notched-outline__leading,
.mdc-text-field:not(.mdc-text-field--disabled):hover .mdc-notched-outline__notch,
.mdc-text-field:not(.mdc-text-field--disabled):hover .mdc-notched-outline__trailing {
  //border-color: white !important;
}

/* Texto do input */
.mat-mdc-input-element {
  color: white !important;
}

/* Label/placeholder */
.mdc-floating-label {
  color: white !important;
}

/* Label quando focado */
.mdc-text-field--focused .mdc-floating-label {
  color: white !important;
}

/* Placeholder quando não há label flutuante */
.mat-mdc-input-element::placeholder {
  color: rgba(255, 255, 255, 0.7) !important;
}

.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field .mdc-notched-outline__notch {
  border-left: none !important;
}

mat-card-content .destaque {
    padding-bottom: 27px;
}
.mat-mdc-card-content:last-child {
    padding-bottom: 8px !important;
}
.mat-mdc-card-content:first-child {
    padding-top: 8px !important;
}

/* Cor da barra de progresso */
.mat-mdc-progress-bar .mdc-linear-progress__bar-inner {
  border-color: #00b7ff !important;
}

/* Cor de fundo da barra */
.mat-mdc-progress-bar .mdc-linear-progress__buffer {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

/* Para versões mais antigas do Angular Material */
.mat-progress-bar-fill::after {
  background-color: #00b7ff !important;
}

.mat-progress-bar-buffer {
  background-color: rgba(255, 255, 255, 0.2) !important;
}